.gris
{
    background-color: aquamarine;
    height: 120vh;
    color: rgb(0, 0, 0);
}

.btn
{
    width: 150px;
    height: 50px;
    border-radius: 20px;
}

.blue
{
    background-color: chartreuse;
}