@font-face 
{ 	
    font-family: "Adeline"; src: url('Sources/police/Adeline.ttf');
}

html 
{

    font-size: 10px;
    background-color: rgb(0, 41, 27);
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(223, 247, 196)
}

#accueil
{
    text-align: center;
    font-family: Adeline;
    font-size: 200px;
    color: rgb(223, 247, 196);
}

h1
{
    text-align: center;
    font-size: 40px;
}

a.menu
{
    color: whitesmoke;
    outline: none;
    text-decoration: none;
    background-color: rgb(0, 41, 27);
    padding: 0.5em 0.5em 0.5em 0.5em;
    border-radius: 50%;
    width: 20%;
}

a.menu:hover
{
    background-color: rgb(2, 151, 136);
}

#menu
{
    display: flex;
    text-align: center;
    font-size: 50px;
    justify-content: space-evenly;
    
}

#footer
{
    display: flex;
    font-size: 15px;
    justify-content: space-between;
    margin-top: 20%;
    align-items: flex-end;
    text-align: center;
}

h2
{
    font-size: 3em;
    text-align: center;
    color: thistle;
    background-color: rgb(0, 41, 27);
    display: flex;
    justify-content: center;
}

h3
{
    color: rgb(255, 94, 0);
    text-decoration: underline double;
    text-align: center;
}

section
{
    font-size: 2rem;
    display: flex;
    color: rgb(0, 41, 27);
}

.colonne
{
    overflow: auto;
    background-color: rgba(4, 189, 170, 0.918);
    width: 33%;
    padding-left: 2rem;
    padding-right: 1rem;
    padding-bottom: 3rem;
    border-radius: 10px;
    border:rgb(0, 41, 27) 1px dotted;
    margin-bottom: 1rem;
}

#ici
{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
}