legend
{
    color: brown;
    font-weight: bold;
}

.obl
{
    color: red;
}

fieldset
{
    display: flex;
    flex-direction: column;
    width: auto;
    gap: 2px;
    padding: 3px;
    margin: 0%;
    border: 0px;
}

p
{
    display: flex;
    width: auto;
    gap : 10px;
}

#texteArea
{
    overflow: auto;
    height: 100px;
}

.label
{
    width: 180px;
}

#choix
{
    width: 180px;
}

.bouton
{
    padding: 5px;
    font-weight: bold;
}

#boutons
{
    margin-left: 140px;
}