a, a:hover
{
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    outline: none;
    text-decoration: none;
    color: white;
    width: 120px;
}

#section1
{
    padding: 2rem;
}

.btn
{
    width: 120px;
    height: 50px;
    color: white;
    text-align: center;
}

#infosD, #imgD
{
    margin-bottom: 10px;
}

#infosD
{
    padding: 5px;
    display: flex;
    height: 400px;
    flex-wrap: wrap;
}

#détails
{
    align-self: flex-end;
}

.headerD
{
    padding: 2rem;
}

.inputDetails
{
    width: 500px;
}

.discBottom
{
    margin-bottom: 1rem;
}

.inputNew
{
    width: 100%;
}

img
{
    width: 400px;
    height: 400px;
}

ul
{
    padding-left: 0px;
}