@font-face {font-family: "Adeline"; src: url('/Evaluation/src/police/Adeline.ttf');}
    
    body
    {
        margin: 1em;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    header
    {
        display: inline-flex;
        line-height: 4em;
        background-color: white;
        padding: 2px;
        width: 100%;
    }


    nav
    {
        background-color: black;
        padding: 1em;
        padding-left: 2.5em;
        border-radius: 20px;
    }

    a
    {
      color: white;
    }

    div
    {
        display: flex;
        justify-content: space-between;
    }

    .aside2
    { 
        height: auto;
        width: 1000px;
    }

    .aside3
    {
        background-color: rgb(202, 202, 202);
        border-radius: 20px 40px 20px 40px;
        width: 600px;
        padding: 1em;
        margin-left: 2em;
        
    }

    .aside1 
    {
      background-color: white;
      text-align: center;
      margin-left: 25%;
      font-style: italic;
      font-family: Adeline;
      font-size: 60px;
    }
 
    label
    {
      display: inline-block;
      width: 200px;
      padding: 5px;    
    }

    #traitement
    {
      width: auto;
      margin-bottom: 10px;
    }

    span
    {
      padding: 5px;
      margin-left: 400px;
    }


    @media all and (max-width:768px) 
    {
      html 
      {
        font-size: smaller;
      }
      a 
      {
        display: block;
        text-align: center;
      }
      .aside3
      {
        display: none;
      }
      header
      {
        display: block;
        text-align: center;
      }
      .aside1
      {
        margin-left: auto;
      }
    }

    .required
    {
      color: red;
      font-style: italic;
    }